
<div class="container fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Eat-Da-Burger!</h1>
			<div class="row">

				<div class="col-md-7">
					<h2>Burgers Available!</h2>
					<ul>
						{{#each burgers}}
							{{#unless this.devoured}}
								<li>
									<form class="form-inline" action="/{{this.id}}?_method=PUT" method="POST">
										<div class="form-group ccolor2">
											<label class="fsize1">{{this.id}}. {{this.burger_name}}</label>
											<input type="hidden" name="devouredHtml" value="true">
										</div>
										<button type="submit" class="btn btn-success" style="margin-left:15px">Devour It!</button>
									</form>
								</li>
							{{/unless}}
						{{/each}}
					</ul>
				</div>
			
				<div class="col-md-5">
					<h2>Burgers Devoured</h2>
					<ul>
						{{#each burgers}}
							{{#if this.devoured}}
								<li>
									<label class="ccolor1">
										{{this.id}}. {{this.burger_name}}
									</label>
								</li>
							{{/if}}
						{{/each}}
					</ul>
				</div>

			</div>
			<h2>Add a Burger</h2>
			<form class="form-inline text-center create-update-form" action="/" method="POST">
				<div class="form-group ccolor3">
					<label for="ca">Burger Name:</label>
					<input class="text-center" type="text" id="ca" name="burgerNameHtml" style="margin-right:15px">
				</div>
				<button type="submit" class="btn btn-danger">Add burger</button>
			</form>
			<br/>
			<div class="row">
				<div class="container-fluid letterlobster">
					Copyright &copy; 2017 Hilton DCS
				</div>
			</div>
			
		</div>
	</div>
</div>